<div id="spin">
</div>
<div class="row function-group">
	<div class="col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-1">
	<% @cardinal_functions.each do |key,functions| %>
		<div class="col-sm-5 col-md-5" style="background-color:#7FA6A1;margin:10px;border:1px solid black;box-shadow: 5px 5px 5px #888888;">
			<div class="row text-center" style="background-color:<%= @bg_colors[@bg_counter] %>;color:white;font-family: 'Times New Roman', Times, serif;border-bottom:1px solid black;"><h4><%= key %></h4></div>
			<% 0.upto(5) do |num| %>
			
				<div class="card">
					<% if functions[num].nil? %>
						<div class="col-sm-4 col-md-3" style="height:110px;margin:10px;font-family: 'Times New Roman', Times, serif;"></div>
					<% else %>
						<div class="col-sm-4 col-md-3 text-center function" style="background-color:white;height:110px;margin:10px;font-family: 'Times New Roman', Times, serif;border-radius: 1em;">
							<div class="front" style="line-height: 110px;vertical-align: middle;">
								<span class="glyphicon glyphicon-info-sign info-card" aria-hidden="true" style="color:#428bca"></span>
								<%= functions[num][0].strip %>
							</div>
							<div class="back" style="padding-top:20px;">
								<%= functions[num][1].strip %>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<% @bg_counter += 1 %>
	<% end %>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 function-form">
		<div class="tag-number hidden" style="padding-top:15px;">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center function-header" style="color:white;"></h3>
			  </div>
			  <div class="panel-body">
			    <%= form_for :function, url: process_function_path, remote: true do |f| %>
						<%= f.hidden_field :function_type, class: 'function_type' %>
						<div class="form-group">
							<div class="col-md-12 tag_number">
								<div class="input-group">
      						<div class="input-group-addon">Enter Existing Tag Number</div>
									<%= f.text_field :tag_number, autofocus: true, placeholder: '' , class: 'form-control custom-text-field' %>
								</div>
							</div>
						</div>
						<div class="col-md-6 new_tag text-center hidden", style="height:50px;margin-top:20px;">
							<%= link_to "Create New Tag", nil, remote: true %> 
						</div>
						<div class="form-group">
							<div class="col-md-6 sales_order text-center hidden", style="height:50px;">
								<div class="input-group">
									<div class="input-group-addon">Enter Sales Order Number</div>
									<%= f.text_field :so_number, placeholder: '' , class: 'form-control custom-text-field' %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 line_number text-center hidden", style="height:50px;">
								<div class="input-group">
									<div class="input-group-addon">Enter Line Number</div>
									<%= f.text_field :line_number, placeholder: '' , class: 'form-control custom-text-field' %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12 carton_tag text-center hidden" style="height:50px;margin-top:10px;">
								<div class="input-group">
									<div class="input-group-addon">Enter Box Carton Item #</div>
									<%= f.text_field :carton_tag, placeholder: '' , class: 'form-control custom-text-field' %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 skid_number text-center hidden", style="height:50px;">
								<div class="input-group">
									<div class="input-group-addon">Enter Skid Number</div>
									<%= f.text_field :skid_number, placeholder: '' , class: 'form-control custom-text-field' %>
								</div>
							</div>
						</div>

						<div class="form-fields">
						</div>

						<div class="col-md-6 function-buttons">
							<%= link_to 'Next', "#", remote: true, class: 'btn btn-block btn-info next-function', style: "height:50px;padding-top:15px;margin-top:10px;" %>
							<%= f.submit "Submit", class: 'btn btn-block btn-primary submit hidden', style: "height:50px;margin-top:10px;" %>
							<%= link_to 'Add to Skid', "#", remote: true, class: 'btn btn-block btn-primary add-skid hidden', style: "height:50px;padding-top:15px;margin-top:10px;" %>
						</div>
						<div class="col-md-6">
							<%= link_to 'Cancel', "#", class: 'btn btn-block btn-danger cancel-function', style: "height:50px;padding-top:15px;margin-top:10px;" %>
						</div>
					<% end %>
			  </div>
			</div>
			
		</div>
	</div>
</div>