<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">

	<div class="panel panel-primary" style="margin-top:20px;">
	  <div class="panel-heading text-center">This is the area where you can update your site or printer without logging out!</div>
	  <div class="panel-body">
	    <div style="padding-bottom:10px;"><%= link_to "<< Back", main_menu_index_path %></div>

		 	<%= form_for :login, url: login_update_path, method: :put do |f| %>
		 		<div class="form-group">
			 		<%= f.label :site %>
			 		<%= f.text_field :site, value: session[:site], class: 'form-control' %>
			 	</div>

			 	<div class="form-group">
			 		<%= f.label :printer %>
			 		<%= f.text_field :printer, value: session[:printer], class: 'form-control' %>
			 	</div>

			 	<%= f.submit 'Update', class: 'btn btn-block btn-success' %>
		 	<% end %>
	  </div>
	</div>

	
</div>