<!DOCTYPE html>
<html>
  <head>
    <title>Cardinal</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>	
  	 <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
		    <ul class="nav navbar-nav navbar-right">
		    	<% if flash[:notice] %>
			      <li class="notification" style="padding-top:15px;color:#5cb85c;"><strong>Success!</strong> <%= flash[:notice] %></li>
			    <% elsif flash[:error] %>
			        <li class="notification" style="padding-top:15px;color:#d9534f"><strong>Error!</strong> <%= flash[:error] %></li>
			      </div>
			    <% else %>
			    	<li class="notification" style="padding-top:15px;color:#5cb85c;"></li>
			    <% end %>
			    <% if current_page?('/main_menu/index') %>
		      	<li><%= link_to 'Logout', login_destroy_path, method: :delete %></li>
		      <% end %>
		    </ul>
		  </div>
		</nav>
  	<div class="container" style="margin-top:50px;">
	  </div>
	  
	  <%= yield %>
  </body>
</html>
